@model ProyectoSistemaTurnosV4.Models.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="d-flex justify-content-center mt-5">
    <div class="card shadow" style="width: 350px;">
        <div class="card-header bg-dark text-white text-center">
            <h5 class="mb-0">Sistema de Turnos - Login</h5>
        </div>
        <div class="card-body">

            <form asp-controller="Auth" asp-action="Login" method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">
                    Iniciar sesión
                </button>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
